<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=Service_Directory4.0</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password">123456</property>
		<property name="connection.pool_size">1</property>
		<property name="hibernate.show_sql">true</property>
		 <property name="format_sql">true</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.query.factory_class">org.hibernate.hql.ast.ASTQueryTranslatorFactory</property>
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		<property name="hbm2ddl.auto">update</property>
		<mapping class="mock.appcode.common.valueobjects.UserVO" />
		<mapping class="mock.appcode.common.valueobjects.OrganistationVO" />
		<mapping class="mock.appcode.common.valueobjects.ServiceVO" />
	</session-factory>
</hibernate-configuration>
